@import url(https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap);
html {
  font-family: Karla;
  font-size: 16px;
  background-color: #e5eff5;
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    font-weight: 400;
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  html .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; }
    html .container .card {
      display: grid;
      min-width: 1000px;
      max-height: 1440px;
      grid-template-rows: 1fr 1.3fr; }
      html .container .card .card__top {
        padding: 2em 4em;
        background-color: #fff;
        border-radius: 10px 10px 0 0; }
        html .container .card .card__top h1 {
          color: rgba(42, 178, 175, 0.9);
          font-weight: 700;
          font-size: 2.3em;
          margin: .7em 0; }
        html .container .card .card__top h3 {
          color: #c0df34;
          font-size: 1.5em;
          font-weight: 400;
          margin-bottom: 1.3rem; }
        html .container .card .card__top p {
          color: #98a6bd;
          font-weight: 400;
          font-size: 1.3em; }
      html .container .card .card__buttom {
        display: grid;
        grid-template-columns: repeat(2, 1fr); }
        html .container .card .card__buttom .title {
          font-size: 1.4em;
          color: #fff;
          margin-bottom: 1em; }
        html .container .card .card__buttom .card__buttom--subscription {
          padding: 3em 4em;
          background-color: rgba(42, 178, 175, 0.9);
          border-radius: 0 0 0 10px; }
          html .container .card .card__buttom .card__buttom--subscription .btn {
            display: block;
            background-color: #c0df34;
            color: #fff;
            padding: .7em 5em;
            font-size: 1.4em;
            margin-top: 1em;
            text-align: center;
            border-radius: 6px;
            box-shadow: 0px 0px 5px 0.5px rgba(62, 60, 73, 0.25);
            cursor: pointer; }
          html .container .card .card__buttom .card__buttom--subscription .btn:hover {
            background-color: #b6d431; }
          html .container .card .card__buttom .card__buttom--subscription p {
            font-size: 1.2em;
            color: #fff;
            padding: .6em 0em 1.3em; }
          html .container .card .card__buttom .card__buttom--subscription .price {
            font-size: 2.5em;
            font-weight: 700;
            color: #fff;
            display: flex;
            align-items: center; }
            html .container .card .card__buttom .card__buttom--subscription .price span {
              font-size: .5em;
              color: #e5eff5;
              padding-left: 1em; }
        html .container .card .card__buttom .card__buttom--whyus {
          padding: 3em;
          background-color: rgba(42, 178, 175, 0.65);
          border-radius: 0 0 10px 0; }
          html .container .card .card__buttom .card__buttom--whyus ul {
            list-style: none;
            color: #fff; }
            html .container .card .card__buttom .card__buttom--whyus ul li {
              padding-bottom: 0.4em; }

/*# sourceMappingURL=style.css.map */
